@model Assignment2Blog.Models.ViewModels.CommentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create new post</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" rows="12" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="BlogPostId" />
            <input type="hidden" asp-for="ReplyTo" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to post", "View", "Blog", new{id=Model.BlogPostId})
</div>

